<div id="<%= dom_id categorium %>">
  <p>
    <strong>Nombre:</strong>
    <%= categorium.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= categorium.descripcion %>
  </p>

  <p>
    <strong>Estatus:</strong>
    <%= categorium.estatus %>
  </p>

  <p>
    <strong>Fecha creacion:</strong>
    <%= categorium.fecha_creacion %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= categorium.autor_id %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= categorium.slug %>
  </p>

</div>
