<div id="<%= dom_id usuario %>">
  <p>
    <strong>Nombre:</strong>
    <%= usuario.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= usuario.apellido %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= usuario.correo %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= usuario.telefono %>
  </p>

  <p>
    <strong>Fecha registro:</strong>
    <%= usuario.fecha_registro %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= usuario.status %>
  </p>

</div>
