<div id="<%= dom_id articulo %>">
  <p>
    <strong>Titulo:</strong>
    <%= articulo.titulo %>
  </p>

  <p>
    <strong>Contenido:</strong>
    <%= articulo.contenido %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= articulo.usuario_id %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= articulo.categoria_id %>
  </p>

  <p>
    <strong>Fecha creacion:</strong>
    <%= articulo.fecha_creacion %>
  </p>

  <p>
    <strong>Publicado:</strong>
    <%= articulo.publicado %>
  </p>

</div>
